#container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  border: 1pc solid #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 200px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-card h3 {
  margin-top: 10px;
}
